.mar{
	margin-top:20px;
}
.h3{
	font-family:'Open Sans',sans-serif;
	font-style:oblique;
	font-size:20px;
	margin-top:0px;
}

.h2{
	font-family:'Open Sans',sans-serif;
}
.jumbotron{
	background-color:#42494B;
	color:white;
	text-align:center;
}
.color{
	color:#2F4F4F;
}
img:hover{
   -webkit-transform:scale(1.05,1.05);
   }

a:hover{
	text-decoration:none;
	color:black;
	font-style:bold;

}
.center{
	text-align:center!important;
}