.mar{
	margin-top:20px;
}
.h3{
	font-family:'Open Sans',sans-serif;
	font-style:oblique;
	font-size:20px;
	margin-top:0px;
}
.jumbotron{
	background-color:#42494B;
	color:white;
	text-align:center;
}
.color{
	color:black;
}