<div class ="jumbotron">
<div class="container">
<h3 *ngIf='query'>
  Search result for {{ query }}!
</h3>
<hr/>
</div>
</div>


<div class="container"> 
<div class="row">
<div *ngFor='let abc of videoList'>
			<div class="col-sm-3" >
			<a  class="thumbnail" href='videos/{{abc.slug}}'>
			<img [src]='abc.image'>
					<div class="caption">
			        <h3>{{abc.name}}</h3>
			       </div>
			       </a>
			</div>
<div  *ngIf='abc.embed'>
<!--<iframe  [src]="getEmbedUrl(abc) | safe" width="560" height="315" frameborder="0" allowfullscreen></iframe>!-->
<hr/>
</div>
</div>
</div>
</div>


