<nav class="navbar navbar-inverse header">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      <a  href="#" class="navbar-brand"  style="font-size:60px;font-color:white;margin-top:10px">éxito</a>
      </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
    <!--<a href="#" class="nav navbar-nav navbar-right">Link</a>!-->

    <search [passedQuery]='query'></search>
   <a  href =" Sign In" type="button"  class="btn navbar-btn navbar-right" style="color:white">Sign in</a> 
     <a type="button" href="Sign up" class="btn navbar-btn navbar-right" style="color:white">Sign up</a>
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div style='min-height:500px;'>
<router-outlet></router-outlet>
</div>
<!--<footer class='container' style='text-align:center;'>
<hr/>
&copy;online learning
</footer>!-->
<footer>
<div class="container-fluid" id="footer">
  <a href="https://www.facebook.com/yash.cupid" target="_blank" class="fa-foot"><i class="fa fa-facebook-official" style="color:#3b5998;"></i></a>
  <a style="color:#517fa4;" href="https://www.instagram.com/immittal77" class="fa-foot" target="_blank"><i class="fa fa-instagram"></i></a>
  <a style="color:#00aced;" href="#" class="fa-foot" target="_blank"><i class="fa fa-twitter"></i></a>
  <a style="color:#dd4b39;" href="#" class="fa-foot" target="_blank"><i class="fa fa-google-plus-square"></i></a>
  <a style="color:#007bb6;" href="https://www.linkedin.com/in/yash-mittal-427b55111" target="_blank" class="fa-foot"><i class="fa fa-linkedin-square"></i></a>
  <p style="color:white;">Powered by <a href="http://www.juit.ac.in" target="_blank" style="text-decoration: none;color:white;">juit.webtech</a></p>
</div></footer>