<div class="jumbotron">
<div class="container">
<h1><span  class="glyphicon glyphicon-blackboard"></span>
 {{title}}
</h1>
<hr/>
<p style="color:white;">{{desc}}</p>
</div>
</div>
<div class="container">
<div *ngFor='let item of video'>
<!--<h1><a href='videos/{{item.slug}}'>{{item.name}}</a></h1>!-->

<div  *ngIf='item.embed' class ="container ">
<iframe [src]="getEmbedUrl(item) | safe" width="560" height="315" frameborder="0" allowfullscreen></iframe>
<!--<youtube-player
      [videoId]="item.embed"
      [height]="315"
      [width]="560"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
    ></youtube-player>!-->

</div>
<hr/>
</div>
</div>

