.jumbotron{
	height:100vh;
	text-align: center;
	margin-bottom:0px;
	background-size: cover;
}

.jumbotron h1 ,h3{
	font-family:'Open Sans',sans-serif;
	font-weight:500;
    margin-top:20px;
}
.but{
	background:red;
    color:white;
    border-color:red;
}
.co{
	color:black;
}